.card {
  width: 15rem;
}

.btn-container,
.option-btn-container,
.player-btn-container,
.btn a,
.small-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-container {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-btn-container {
  margin-top: 0.2rem;
  height: 60%;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  height: 1.8rem;
  width: 6.5rem;
  overflow: hidden;
}

.btn1 a,
.btn2 a,
.btn3 a,
.btn4 a,
.btn5 a {
  font-family: "Varela Round", sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn1 a,
.btn2 a {
  font-size: 0.8rem;
}

.btn1 a {
  color: #32ff7e;
}

.btn2 a {
  color: #18dcff;
}

.btn1 a:hover {
  background-color: #32ff7e;
  color: #1c1c25;
}

.btn2 a:hover {
  background-color: #18dcff;
  color: #1c1c25;
}

.btn1 span,
.btn2 span {
  position: absolute;
}

.btn1 span:nth-child(1),
.btn2 span:nth-child(1) {
  top: 0;
  left: -100%;
  height: 0.05rem;
  width: 100%;
  -webkit-animation: span1 1s linear infinite;
          animation: span1 1s linear infinite;
}

.btn1 span:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#32ff7e));
  background: linear-gradient(90deg, transparent, #32ff7e);
}

.btn2 span:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#18dcff));
  background: linear-gradient(90deg, transparent, #18dcff);
}

@-webkit-keyframes span1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes span1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.btn1 span:nth-child(2),
.btn2 span:nth-child(2) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 0.06rem;
  -webkit-animation: span2 1s linear infinite;
          animation: span2 1s linear infinite;
}

.btn1 span:nth-child(2) {
  background: linear-gradient(280deg, transparent, #32ff7e);
}

.btn2 span:nth-child(2) {
  background: linear-gradient(280deg, transparent, #18dcff);
}

@-webkit-keyframes span2 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes span2 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.btn1 span:nth-child(3),
.btn2 span:nth-child(3) {
  right: 0;
  top: -100%;
  height: 100%;
  width: 0.06rem;
  -webkit-animation: span3 1s linear infinite;
          animation: span3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.btn1 span:nth-child(3) {
  background: linear-gradient(280deg, transparent, #32ff7e);
}

.btn2 span:nth-child(3) {
  background: linear-gradient(280deg, transparent, #18dcff);
}

@-webkit-keyframes span3 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes span3 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.btn1 span:nth-child(4),
.btn2 span:nth-child(4) {
  left: 0;
  top: -100%;
  height: 100%;
  width: 0.06rem;
  -webkit-animation: span4 1s linear infinite;
          animation: span4 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.btn1 span:nth-child(4) {
  background: linear-gradient(280deg, transparent, #32ff7e);
}

.btn2 span:nth-child(4) {
  background: linear-gradient(280deg, transparent, #18dcff);
}

@-webkit-keyframes span4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

@keyframes span4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.option-btn-container {
  margin-top: 0.8rem;
  height: 20%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.small-btn {
  font-size: 1rem;
  position: relative;
  height: 1.3rem;
  width: 3.6rem;
  overflow: hidden;
  margin: 0.2rem;
}

.btn3 a,
.btn4 a,
.btn5 a {
  font-size: 0.6rem;
  -webkit-transition: background-color 0.6s, color 0.6s;
  transition: background-color 0.6s, color 0.6s;
}

.btn3 a::before,
.btn3 a::after,
.btn4 a::before,
.btn4 a::after,
.btn5 a::before,
.btn5 a::after {
  content: "";
  height: 0.38rem;
  width: 0.38rem;
  position: absolute;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn3 a::before,
.btn4 a::before,
.btn5 a::before {
  top: 0;
  left: 0;
}

.btn3 a::after,
.btn4 a::after,
.btn5 a::after {
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.btn3 a:hover::before,
.btn3 a:hover::after,
.btn4 a:hover::before,
.btn4 a:hover::after,
.btn5 a:hover::before,
.btn5 a:hover::after {
  width: 100%;
  height: 100%;
}

.btn4 a:hover,
.btn5 a:hover {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background-color: #32ff7e;
  color: #1c1c25;
}

.btn4 a {
  color: #32ff7e;
}

.btn4 a::before {
  border-top: 0.06rem solid #32ff7e;
  border-left: 0.06rem solid #32ff7e;
}

.btn4 a::after {
  border-bottom: 0.06rem solid #32ff7e;
  border-right: 0.06rem solid #32ff7e;
}

.btn4 a:hover {
  background-color: #32ff7e;
}

.btn3 a:hover {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background-color: #fbff18;
  color: #1c1c25;
}

.btn5 a {
  color: #32ff7e;
}

.btn3 a {
  color: #fbff18;
}

.btn5 a::before {
  border-top: 0.06rem solid #32ff7e;
  border-left: 0.06rem solid #32ff7e;
}

.btn3 a::before {
  border-top: 0.06rem solid #fbff18;
  border-left: 0.06rem solid #fbff18;
}

.btn5 a::after {
  border-bottom: 0.06rem solid #32ff7e;
  border-right: 0.06rem solid #32ff7e;
}

.btn3 a::after {
  border-bottom: 0.06rem solid #fbff18;
  border-right: 0.06rem solid #fbff18;
}

.btn5 a:hover {
  background-color: #32ff7e;
}

.btn3 a:hover {
  background-color: #fbff18;
}

.flex-music {
  position: relative;
  width: 100%;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.option-toggle-container {
  position: relative;
  height: 4.6rem;
  width: 7rem;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.music {
  background: url("../icons/music.png") no-repeat center center/cover;
  height: 0.5rem;
  width: 0.5rem;
  left: 0.6rem;
  cursor: pointer;
  position: absolute;
}

.sound {
  background: url("../icons/volume.png") no-repeat center center/cover;
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  left: 0.6rem;
  cursor: pointer;
}

.setting-name {
  font-family: "Varela Round", sans-serif;
  position: absolute;
  left: 1.46rem;
  font-size: 0.55rem;
}

.toggle {
  height: 0.5rem;
  width: 0.8rem;
  position: absolute;
  cursor: pointer;
  right: 0.6rem;
}

.first,
.second {
  background-color: #b1b1b1;
  height: 0.5rem;
  width: 0.8rem;
  position: relative;
  border-radius: 1.3rem;
}

.first::before,
.second::before {
  content: "";
  position: absolute;
  height: 0.33rem;
  width: 0.33rem;
  background-color: white;
  border-radius: 1.3rem;
  margin: calc(1rem / 12.5);
}

.first::before,
.first::after {
  left: 0;
}

.second::before,
.second::after {
  right: 0;
}

.first::after,
.second::after {
  content: "";
  position: absolute;
  height: 0.18rem;
  width: 0.18rem;
  background-color: #b1b1b1;
  border-radius: 1rem;
  margin: calc(1rem / 6.3);
}

.first {
  position: absolute;
  z-index: 2;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.second {
  position: absolute;
  z-index: 1;
}

.first.click::before {
  -webkit-animation: rightBefore 1s forwards;
          animation: rightBefore 1s forwards;
}

.first.click::after {
  -webkit-animation: rightAfter 1s forwards;
          animation: rightAfter 1s forwards;
}

.second.click::before {
  -webkit-animation: leftBefore 1s forwards;
          animation: leftBefore 1s forwards;
}

.second.click::after {
  -webkit-animation: leftAfter 1s forwards;
          animation: leftAfter 1s forwards;
}

.first.click {
  background-color: #ff4b2b;
  visibility: visible;
}

.second.click {
  visibility: visible;
}

.first.re-click {
  visibility: hidden;
}

.second.re-click {
  visibility: hidden;
}

@-webkit-keyframes rightBefore {
  0% {
    left: 0;
  }
  30% {
    width: 0.44rem;
  }
  100% {
    width: 0.33rem;
    left: 0.3rem;
  }
}

@keyframes rightBefore {
  0% {
    left: 0;
  }
  30% {
    width: 0.44rem;
  }
  100% {
    width: 0.33rem;
    left: 0.3rem;
  }
}

@-webkit-keyframes rightAfter {
  0% {
    left: 0;
  }
  30% {
    width: 0.25rem;
    background-color: white;
  }
  100% {
    background-color: white;
    width: 0.18rem;
    left: 0.3rem;
  }
}

@keyframes rightAfter {
  0% {
    left: 0;
  }
  30% {
    width: 0.25rem;
    background-color: white;
  }
  100% {
    background-color: white;
    width: 0.18rem;
    left: 0.3rem;
  }
}

@-webkit-keyframes leftBefore {
  0% {
    right: 0;
  }
  30% {
    width: 0.44rem;
  }
  100% {
    width: 0.33rem;
    right: 0.3rem;
  }
}

@keyframes leftBefore {
  0% {
    right: 0;
  }
  30% {
    width: 0.44rem;
  }
  100% {
    width: 0.33rem;
    right: 0.3rem;
  }
}

@-webkit-keyframes leftAfter {
  0% {
    right: 0;
  }
  30% {
    width: 0.25rem;
    background-color: #b1b1b1;
  }
  100% {
    background-color: #b1b1b1;
    width: 0.18rem;
    right: 0.3rem;
  }
}

@keyframes leftAfter {
  0% {
    right: 0;
  }
  30% {
    width: 0.25rem;
    background-color: #b1b1b1;
  }
  100% {
    background-color: #b1b1b1;
    width: 0.18rem;
    right: 0.3rem;
  }
}

.flex-music-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-top: 1.1rem;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

.close-btn {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  top: 0.2rem;
  right: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.close-btn::after,
.close-btn::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.06rem;
  border-radius: 25%;
  background-color: black;
}

.close-btn-container {
  height: 0.09rem;
}

.close-btn::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.close-btn::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.option-container,
.option-toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option-container {
  position: absolute;
  z-index: 1000;
  height: 0;
  width: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.option-container.add {
  width: 100vw;
  height: 100vh;
}

.flex-music,
.close-btn-container {
  visibility: hidden;
  -webkit-transition: visibility 0s;
  transition: visibility 0s;
}

.flex-music.visible,
.close-btn-container.visible {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  visibility: visible;
}

.flex-music-container.show {
  height: 4.4rem;
}
