* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
}

:root {
  font-size: 60px;
}

.main-container,
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #232425 0%, #090A0F 100%);
  position: relative;
  overflow: hidden;
}

.card {
  height: 95vh;
  width: 9rem;
}
