    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

:root {
    font-size: 60px;
}

.main-container,
.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background: radial-gradient(ellipse at bottom, #232425 0%, #090A0F 100%);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card {
    height: 95vh;
    width: 9rem;
    background-color: rgba(0, 0, 0, 0.4);
}
