$body_color: #ff5050;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

:root {
    font-size: 60px;
}

.main-container,
.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background: radial-gradient(ellipse at bottom, #232425 0%, #090A0F 100%);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card {
    height: 95vh;
    width: 9rem;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.4);
}

.s1,
.s2,
.s3,
.s4 {
    position: absolute;
    background-color: red;
}

.s1,
.s2 {
    height: 0.08rem;
    width: 100%;
}

.s3,
.s4 {
    height: 100%;
    width: 0.08rem;
}

.s1 {
    top: 0;
    left: 0;
    background: linear-gradient(90deg, transparent, $body_color);
    animation: span1 2s linear infinite;
}

.s2 {
    bottom: 0;
    right: 0;
    background: linear-gradient(280deg, transparent, $body_color);
    animation: span2 2s linear infinite;
}

.s3 {
    left: 0;
    top: 0;
    background: linear-gradient(280deg, transparent, $body_color);
    animation: span4 2s linear infinite;
    animation-delay: 1s;
}

.s4 {
    right: 0;
    top: 0;
    background: linear-gradient(280deg, transparent, $body_color);
    animation: span3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes span2 {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

@keyframes span3 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

@keyframes span4 {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}