$btn4_color: #32ff7e;

* {
    font-family: "Varela Round", sans-serif;
}

.small-btn {
    height: 0.9rem;
    width: 2.6rem;
}

.small-btn a {
    font-size: 0.4rem;
}

.btn3 a::before,
.btn3 a::after,
.btn4 a::before,
.btn4 a::after,
.btn5 a::before,
.btn5 a::after {
    height: 0.28rem;
    width: 0.28rem;
}

.btn4 a::before {
    border-top: 0.04rem solid $btn4_color;
    border-left: 0.04rem solid $btn4_color;
}

.btn4 a::after {
    border-bottom: 0.04rem solid $btn4_color;
    border-right: 0.04rem solid $btn4_color;
}

.option-btn-container {
    margin: 0;
    position: absolute;
    bottom: 0rem;
    width: 70%;
    height: 10%;
}

.player-name-container,
.player-name,
.p1-detail,
.p2-detail,
.grid-container-square,
.align-symbol-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-name-container {
    height: 2.2rem;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.player-name {
    width: auto;
    height: 100%;
    font-size: 0.65rem;
    position: relative;
}

.switch-line {
    position: absolute;
    width: 0.9rem;
    height: 0.1rem;
    background-color: white;
    border-radius: 0.5rem;
    transition: transform 1s, box-shadow 1s;
}

.switch-line.left {
    box-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.8rem #001aff, 0 0 1rem #001aff, 0 0 2rem #001aff,
        inset 0 0 0.03rem #001aff;
}

.switch-line.right {
    box-shadow: 0 0 0.1rem red, 0 0 0.3rem red, 0 0 0.6rem red, 0 0 0.8rem red,
        0 0 1rem red, 0 0 2rem red;
}

.p1-detail,
.p2-detail {
    flex-direction: column;
    margin: 0rem 0.2rem;
}

.p1-symbol,
.p2-symbol {
    font-size: 0.75rem;
    color: white;
}

.p1-symbol {
    text-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.8rem #001aff, 0 0 1rem #001aff;
}

.p2-symbol {
    text-shadow: 0 0 0.1rem red, 0 0 0.4rem red, 0 0 0.8rem red;
}

.wining {
    display: flex;
    position: relative;
    padding-bottom: 0.5rem;
    color: white;
    letter-spacing: 0.1rem;
}

.p1-name,
.p2-name {
    font-size: 0.45rem;
    margin-top: 0.2rem;
    text-align: center;
}

.p1-name {
    color: #6473ff;
}

.p2-name {
    color: #ff6262;
}

.card {
    flex-direction: column;
}

.align-symbol-count {
    position: absolute;
    top: 2.3rem;
    text-align: center;
    font-size: 0.4rem;
    color: white;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.15rem;
    padding-left: 0.06rem;
    padding-top: 0.06rem;
}

.heading {
    font-weight: 100;
    color: #32ff7e;
    border-bottom: 0.07rem solid #32ff7e;
    border-radius: 0.08rem;
}

.grid-container-square {
    position: absolute;
    top: 3.2rem;
    height: 7rem;
    width: 7rem;
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        position: relative;
    }
}

.grid-square {
    // border: 0.016rem solid #4a5bf3;
    border: 0.016rem solid white;
    box-shadow: 0 0 0.06rem #4437fa;
    overflow: hidden;
    box-sizing: border-box;
}

.grid-p {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.i1 {
    color: white;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.8rem #001aff, 0 0 1rem #001aff;
}

.i2 {
    color: white;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0 0 0.1rem red, 0 0 0.4rem red, 0 0 0.8rem red;
}

.line {
    position: absolute;
    z-index: 100;
    border-radius: 0.1rem;
    background-color: white;
    height: 0;
    width: 0;
}

.line.blue {
    box-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.8rem #001aff, 0 0 1rem #001aff;
}

.line.red {
    box-shadow: 0 0 0.1rem red, 0 0 0.4rem red, 0 0 0.8rem red;
}

.bottom-top {
    width: 1.2%;
    transition: height 0.5s;
}

.right-left {
    height: 1.2%;
    transition: width 0.5s;
}

.backword-top-bottom {
    height: 1.2%;
    transform-origin: left top;
    transform: rotateZ(45deg);
    transition: width 0.5s;
}

.forward-top-bottom {
    height: 1.2%;
    transform-origin: left top;
    transform: rotateZ(135deg);
    transition: width 0.5s;
}

.win-container,
.win-btn-container,
.win-inner-container,
.main-win-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-btn-container {
    width: 100%;
    justify-content: space-around;
}

.win-container {
    position: absolute;
    z-index: 1000;
    height: 0;
    width: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.25);
    transition: height .5s linear, width .5s linear;
}

.win-inner-container {
    height: 0rem;
    width: 0rem;
    position: relative;
    flex-direction: column;
    background-color: black;
    color: white;
    flex-shrink: 1;
    margin: 0 0.15rem;
    visibility: hidden;
    border-radius: 4%;
    transition: height .5s linear, width .5s linear;
}

#win-name {
    text-align: center;
    font-size: 1rem;
    position: relative;
}

#win-name::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 1rem;
}

#win-symbol {
    font-size: 3rem;
    font-weight: 100;
}

.blue {
    text-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.8rem #001aff, 0 0 1rem #001aff;
}

.red {
    text-shadow: 0 0 0.1rem red, 0 0 0.4rem red, 0 0 0.8rem red;
}

.blue#win-name::after {
    background-color: white;
    box-shadow: 0 0 0.1rem #001aff, 0 0 0.3rem #001aff, 0 0 0.6rem #001aff,
        0 0 0.65rem #001aff;
}

.red#win-name::after {
    background-color: white;
    box-shadow: 0 0 0.1rem red, 0 0 0.4rem red, 0 0 0.8rem red, 0 0 0.9rem red;
}

.btn-red a{
    color: #fc3b3b;   
}

.btn-red a::after {
    border-bottom: 0.06rem solid #fc3b3b;
    border-right: 0.06rem solid #fc3b3b;
}

.btn-red a::before {
    border-top: 0.06rem solid #fc3b3b;
    border-left: 0.06rem solid #fc3b3b;
}

.btn-red a:hover {
    background-color: #fc3b3b;
}

.btn-blue a{
    color: #3d4ff0;   
}

.btn-blue a::after {
    border-bottom: 0.06rem solid #3d4ff0;
    border-right: 0.06rem solid #3d4ff0;
}

.btn-blue a::before {
    border-top: 0.06rem solid #3d4ff0;
    border-left: 0.06rem solid #3d4ff0;
}

.btn-blue a:hover {
    color: white;
    background-color: #3d4ff0;
}

.main-win-container {
    z-index: 1000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
}

.win-container.expand {
    height: 100%;
    width: 100%;
    visibility: visible;
}

.win-inner-container.expand {
    height: 7rem;
    width: 7.5rem;
    visibility: visible;
}

.win-inner-container.expand.blue-line {
    box-shadow: 0 0 .2rem #001aff, inset 0 0 .2rem #001aff;
}

.win-inner-container.expand.red-line {
    box-shadow: 0 0 .2rem red, inset 0 0 .2rem red;
}