@media screen and(max-width: 500px) {
    :root{
        font-size: 50px;
    }
    .option-btn-container {
        width: 98%;
    }
    .small-btn a {
        font-size: .35rem;
    }
    .grid-container-square {
        height: 60vh;
        width: 94vw;
    }
}

@media screen and(max-width: 628px) {
    .small-btn a {
        font-size: .3rem;
    }
    .option-btn-container {
        width: 98%;
    }
}

@media screen and(max-width: 371px) {
    :root{
        font-size: 55px;
    }
    .grid-container-square {
        width: 94vw;
        height: 55vh;
    }
    .align-symbol-container {
        top: 2.5rem;
    }
    .option-btn-container{
        bottom: .2rem;
        height: 12%;
    }
    .option-toggle-container {
        margin: 0 0.15rem;
    }
}