@media screen and(max-width: 500px) {
    :root{
        font-size: 50px;
    }
    .option-btn-container {
        width: 98%;
    }
    .small-btn a {
        font-size: .35rem;
    }
    .grid-container-square {
        height: 60vh;
    }
}

@media screen and(max-width: 371px) {
    :root{
        font-size: 40px;
    }
    .grid-container-square {
        background-color: yellow;
        height: 60vh;
    }
}