@media screen and(max-width: 500px) {
    :root{
        font-size: 50px;
    }
    .option-btn-container {
        width: 98%;
    }
    .small-btn a {
        font-size: .35rem;
    }
    .grid-container-square {
        height: 60vh;
        width: 94vw;
    }
}

@media screen and(max-width: 628px) {
    .small-btn a {
        font-size: .3rem;
    }
    .option-btn-container {
        width: 98%;
    }
}

@media screen and(max-width: 371px) {
    :root{
        font-size: 45px;
    }
    .grid-container-square {
        // margin-top: .5rem;
        width: 94vw;
        height: 60vh;
    }
    .align-symbol-container {
        top: 2.5rem;
    }
    .option-btn-container{
        bottom: .1rem;
    }
}